:root {
    /*Primary*/
--Very-Dark-Blue: hsl(243, 87%, 12%);
--Desaturated-Blue: hsl(238, 22%, 44%);
    /*Accent*/
--Bright-Blue: hsl(224, 93%, 58%);
--Moderate-Cyan: hsl(170, 45%, 43%);
    /*Neutral*/
--Light-Grayish-Blue: hsl(240, 75%, 98%);
--Light-Gray: hsl(0, 0%, 75%);
}
*{
    margin: 0;
    padding: 0;
}
body {
    /*
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    */
}
/* ---- Header ---- */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header__logo {
    margin: 24px 0 0 30px;
}
.header__logo img {
    width: 90px;
}
.header__links {
    margin-top: 24px;
    margin-right: 24px;
}
.header__links a {
    color: rgb(15, 15, 15);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    margin-left: 14px; 
}

/* ---- Main ---- */

/*BLOQUE 01*/
.main__card--first {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.main__card--first figure {
    width: 80%;
    height: auto;
}
.main__card--first img {
    width: 100%;
    height: auto;
    margin-top: 100px;
}
.main__card--first section {
    font-family: 'Open Sans', sans-serif; 
    text-align: center;
    width: 330px;
}
.main__card--first h1 {
    font-size: 24px;
    font-weight: bolder;
    margin: 20px auto 20px auto;
}
.main__card--first p {
    margin-bottom: 20px;
}
.main__card--first section, .main__card--first section, form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* CURVAS */
.curves {
    margin-top: 80px;
    padding: 0;
    position: relative;
    width: auto;
    height: 60px;
}
#curve-mobile {
    width: 100%;
    position: absolute;
    bottom: 0;
}
#curve-desktop {
    display: none;
}
/*BLOQUE 02*/
.main__card--second {
    background-color: #f8f8fe;
    background-repeat: no-repeat;
    background-position: -10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.main__card--second figure {
    width: 80%;
    height: auto;
    margin-top: 30px;
}
.main__card--second figure img {
    width: 300px;
    height: auto;
    margin: 20px auto 0 auto;
}
.main__text--secondCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__text--secondCard h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    margin: 90px auto 20px auto;
    width: 284px;    
}
.main__text--secondCard p {
    font-family: 'Open Sans', sans-serif;
    margin: 10px auto 5px auto;
    width: 340px;
    font-size: 15px;
} 
.main__text--secondCard a {
    color: var(--Moderate-Cyan);
    font-family: 'Open Sans', sans-serif;
    font-size: 12px; 
    text-decoration: none;
    padding-bottom: 4px;
    margin-top: 30px;
    border-bottom: 1px solid var(--Moderate-Cyan);
}
/*TARJETA BLANCA - BLOQUE 02*/
.main__card--secondCard {
    background-color: white;
    margin: 50px auto 80px auto;
    width: 280px;
    height: 190px;
    box-shadow: 2px 2px 10px 2px #f2f2f2;
    border-radius: 5px;
}
.main__card--secondCard img {
    margin: 20px 0 10px 20px;
}
.main__card--secondCard .secondCard__text {
    margin: 0 0 16px 20px;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    font-size: 11px;
    width: 248px;
}
.main__card--secondCard div {
    display: flex;
}
.main__card--secondCard div img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 0 10px 0 20px;
}
.main__card--secondCard div div {
    display: flex;
    flex-direction: column;
}
.secondCard_name {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    margin-top: 3px;
    font-size: 10px;
}
.secondCard_position {
    font-family: 'Open Sans', sans-serif;
    margin-top: 3px;
    font-size: 7px; 
}
/*BLOQUE 03 - BLOQUE PURPURA*/
.main__card--third {
    background: var(--Desaturated-Blue);
    color: white;
    height: 340px;
}
.main__card--third h2, .main__card--third p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.main__card--third h2 {
    padding-top: 50px;
    font-size: 20px;
}
.main__card--third p {
    width: 320px;
    margin: 14px auto 10px auto;
}


/* ---- Footer ---- */
footer {
    background: var(--Very-Dark-Blue);
    color: #fff;
    padding-top: 60px;
    padding-bottom: 40px;
}
.footer__logo--bottom {
    margin: 0 0 0 40px;
}
.footer__logo--bottom .logo--bottom {
    width: 160px;
    height: auto;
    margin-bottom: 30px;
}
.footer__icon--phone {
    display: flex;
    margin-bottom: 20px;
}
.footer__icon--phone p, .footer__icon--mail p {
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
}
.footer__icon--phone img {
    width: 20px;
    height: 20px;
}
.footer__icon--mail {
    display: flex;
}
.footer__icon--mail img {
    width: 20px;
    height: 20px;
}
.footer__nav--list {
    margin-top: 50px;
}
.footer__nav--list ul li {
    margin-top: 15px;
    margin-left: 40px;
    list-style: none;
}
.footer__nav--list ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif; 
}
.footer__nav--first {}
.footer__nav--second {
    margin-top: 40px;
}
.footer__icons--social {
    width: 130px;
    margin: 60px auto 0 auto;
}
.footer__icons--social i {
    margin: 0 5px 0 5px;
}

/* =-=-=-=- MEDIA QUERIES =-=-=-=- */

@media (min-width: 900px) {
    #curve-mobile {

    }
    #curve-desktop {

    }
}